{% extends "base.html" %}

{% block title %}
Pago
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
.cart-container {
    background-color: #f7f7f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.cart-header {
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.table {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;  /* Para respetar el border-radius en thead */
}

.table thead th {
    background-color: #4e4e70;  /* Un color más suave para el header */
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f2f2f2;  /* Color al pasar el mouse sobre una fila */
}

.btn-danger {
    border: none;  /* Remover borde */
}

.btn-danger:hover {
    opacity: 0.8;  /* Efecto al pasar el mouse sobre el botón */
}

        .image-option {
            display: block;
            cursor: pointer;
            border: 3px solid transparent; /* Borde transparente por defecto */
            border-radius: 5px;
            transition: border 0.3s ease, box-shadow 0.3s ease; /* Agregamos una transición para box-shadow */
            padding: 5px; /* Añadimos un padding */
        }

        .image-option:hover {
            border: 3px solid #d2d6de; /* Borde sutil cuando se pasa el mouse por encima */
        }

        .image-option img {
            width: 90px;
            height: 90px;
            object-fit: cover;
            border-radius: 2px;
        }

        /* Cuando el radio button esté seleccionado, aplicamos los estilos a la etiqueta siguiente */
        input[type="radio"]:checked + .image-option {
            border: 3px solid #007BFF; /* Borde más grueso cuando está seleccionado */
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Sombra suave alrededor de la etiqueta seleccionada */
        }

</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="cart-container">
        <h2 class="cart-header">Carrito de Compras</h2>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Artículo</th>
                <!-- <th>Imagen</th> -->
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <!-- Ejemplo de una fila -->
            <tr>
                <td>Nombre del producto 1</td>
                <!--<td><img src="URL_IMAGEN" alt="Nombre del producto 1" width="50"></td>-->
                <td>2</td>
                <td>$10</td>
                <td>$20</td>
                <td><button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button></td> <!-- Ícono de Font Awesome para la acción de eliminar -->
            </tr>
            <!-- Puedes añadir más filas siguiendo el mismo patrón -->
            </tbody>
        </table>
    </div>
</div>


<!-- Botón para abrir el modal -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formularioModal">
        Pagar
    </button>
</div>

<!-- El modal en sí -->
<div class="modal fade" id="formularioModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Cabecera del modal -->
            <div class="modal-header">
                <h4 class="modal-title">Formulario de Pago</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Cuerpo del modal con las pestañas y el formulario -->
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tarjeta-tab" data-toggle="tab" href="#tarjeta" role="tab">Tarjeta de Crédito/Débito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cheque-tab" data-toggle="tab" href="#cheque" role="tab">Cheque</a>
                    </li>
                </ul>

                <div class="tab-content mt-3" id="myTabsContent">
                    <!-- Pestaña de Tarjeta de Crédito/Débito -->
                    <div class="tab-pane fade show active" id="tarjeta" role="tabpanel">
                        <form action="{{ url_for('views.pagar') }}" method="post">
                            <div class="form-group">
                                <label for="nombreTitularTarjeta">Nombre del titular</label>
                                <input type="text" class="form-control" id="nombreTitularTarjeta" name="nombreTitularTarjeta" placeholder="Tal como aparece en la tarjeta">
                            </div>
                            <div class="form-group">
                                <label for="numeroTarjeta">Número de la tarjeta</label>
                                <input type="text" class="form-control" id="numeroTarjeta" name="numeroTarjeta" placeholder="Ej. 1234 5678 1234 5678">
                            </div>
                            <div class="form-group">
                                <label for="fechaVencimiento">Fecha de vencimiento</label>
                                <input type="text" class="form-control" id="fechaVencimiento" name="fechaVencimiento" placeholder="MM/AA">
                            </div>
                            <div class="form-group">
                                <label for="cvv">Código de seguridad (CVV/CVC)</label>
                                <input type="text" class="form-control" id="cvv" name="cvv" placeholder="Ej. 123">
                            </div>
                            <div class="form-group">
                                <label for="direccionFacturacion">Dirección de facturación</label>
                                <input type="text" class="form-control" id="direccionFacturacion" name="direccionFacturacion">
                            </div>
                            <div class="form-group">
                                <label for="tipoTarjeta">Tipo de tarjeta</label>
                                <select class="form-control" id="tipoTarjeta" name="tipoTarjeta">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                    <option>American Express</option>
                                </select>
                            </div>
                            <div class="container mt-5">
                                    Paqueteria
                                    <form action="tu_ruta_de_procesamiento" method="post">
                                        <div class="row justify-content-center"> <!-- Centrado de los items -->

                                            <!-- Opción 1 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion1" name="paqueteria" value="opcion1" />
                                                <label for="opcion1" class="image-option m-2">
                                                    <img src="https://www.dhl.com/content/dam/dhl/global/core/images/teaser-image-main/dhl-logo.jpg" alt="Paquetería 1" class="img-fluid">
                                                </label>
                                            </div>

                                            <!-- Opción 2 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion2" name="paqueteria" value="opcion2" />
                                                <label for="opcion2" class="image-option m-2">
                                                    <img src="https://lh3.googleusercontent.com/YtXTsa-6SaaMl02-OUo8iRztlX5Thu4aCLavunIV1M5hm9y4ySTPpMjpY44fL4ayz7Se" alt="Paquetería 2" class="img-fluid">
                                                </label>
                                            </div>

                                            <!-- Opción 3 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion3" name="paqueteria" value="opcion3" />
                                                <label for="opcion3" class="image-option m-2">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/United_Parcel_Service_logo_2014.svg/1718px-United_Parcel_Service_logo_2014.svg.png" alt="Paquetería 3" class="img-fluid">
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            <button type="submit" class="btn btn-primary mt-2">Pagar con Tarjeta</button>
                        </form>
                    </div>

                    <!-- Pestaña de Cheque -->
                    <div class="tab-pane fade" id="cheque" role="tabpanel">
                        <form action="{{ url_for('views.pagar') }}" method="post">
                            <div class="form-group">
                                <label for="nombreTitularCheque">Nombre del titular</label>
                                <input type="text" class="form-control" id="nombreTitularCheque" name="nombreTitularCheque">
                            </div>
                            <div class="form-group">
                                <label for="numeroCuenta">Número de cuenta</label>
                                <input type="text" class="form-control" id="numeroCuenta" name="numeroCuenta">
                            </div>
                            <div class="form-group">
                                <label for="numeroRuta">Número de ruta del banco</label>
                                <input type="text" class="form-control" id="numeroRuta" name="numeroRuta">
                            </div>
                            <div class="form-group">
                                <label for="direccionTitular">Dirección del titular</label>
                                <input type="text" class="form-control" id="direccionTitular" name="direccionTitular">
                            </div>
                            <div class="form-group">
                                <label for="numeroCheque">Número de cheque</label>
                                <input type="text" class="form-control" id="numeroCheque" name="numeroCheque">
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" step="0.01">
                            </div>
                            <div class="container mt-5">
                                    Paqueteria
                                    <form action="tu_ruta_de_procesamiento" method="post">
                                        <div class="row justify-content-center"> <!-- Centrado de los items -->

                                            <!-- Opción 1 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion1" name="paqueteria" value="opcion1" />
                                                <label for="opcion1" class="image-option m-2">
                                                    <img src="https://www.dhl.com/content/dam/dhl/global/core/images/teaser-image-main/dhl-logo.jpg" alt="Paquetería 1" class="img-fluid">
                                                </label>
                                            </div>

                                            <!-- Opción 2 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion2" name="paqueteria" value="opcion2" />
                                                <label for="opcion2" class="image-option m-2">
                                                    <img src="https://lh3.googleusercontent.com/YtXTsa-6SaaMl02-OUo8iRztlX5Thu4aCLavunIV1M5hm9y4ySTPpMjpY44fL4ayz7Se" alt="Paquetería 2" class="img-fluid">
                                                </label>
                                            </div>

                                            <!-- Opción 3 -->
                                            <div class="col-auto">
                                                <input type="radio" id="opcion3" name="paqueteria" value="opcion3" />
                                                <label for="opcion3" class="image-option m-2">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/United_Parcel_Service_logo_2014.svg/1718px-United_Parcel_Service_logo_2014.svg.png" alt="Paquetería 3" class="img-fluid">
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <button type="submit" class="btn btn-primary mt-2">Pagar con Cheque</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
